.header__lang {
    display: flex;
    list-style: none;
    gap: 18px;
    padding: 0;
    margin: 20px 0 0;
}

@media screen and (max-width: 320px) {
    .header__lang {
        margin: 14px 0 0;
    }
}
