.cover__card {
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    position: relative;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    gap: 32px;
}

@media screen and (max-width: 1024px) {
    .cover__card {
        width: 100%;
        min-height: 640px;
        }
}
@media screen and (max-width: 768px) {
    .cover__card {
        min-height: 480px;
        }
}
@media screen and (max-width: 320px) {
    .cover__card {
        min-height: 200px;
        }
}
.cover__card::before {
    content: '';
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    transition: 0.6s ease-in-out;
}
.cover__card:hover::before {
    opacity: 0.8;
  
}