.lead__tittle {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 56px auto 32px;
}
@media screen and (max-width: 1024px) {
    .lead__tittle {
            margin: 48px auto 32px;
        }
}
@media screen and (max-width: 768px) {
    .lead__tittle {
            margin: 68px auto 32px;
            font-size: 96px;
        }
}
@media screen and (max-width: 675px) {
    .lead__tittle {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 48px 16px 16px;
    }
}
